<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Canada</string>
		<key>code</key>
		<string>ca</string>
		<key>coins</key>
		<array>
			<dict>
				<key>common-name</key>
				<string>Penny</string>
				<key>diameter</key>
				<real>19.05</real>
				<key>value</key>
				<string>1¢</string>
			</dict>
			<dict>
				<key>common-name</key>
				<string>Nickel</string>
				<key>diameter</key>
				<real>21.2</real>
				<key>value</key>
				<string>5¢</string>
			</dict>
			<dict>
				<key>common-name</key>
				<string>Dime</string>
				<key>diameter</key>
				<real>18.03</real>
				<key>value</key>
				<string>10¢</string>
			</dict>
			<dict>
				<key>common-name</key>
				<string>Quarter</string>
				<key>diameter</key>
				<real>23.88</real>
				<key>value</key>
				<string>25¢</string>
			</dict>
			<dict>
				<key>common-name</key>
				<string>Loonie</string>
				<key>diameter</key>
				<real>26.5</real>
				<key>value</key>
				<string>$1</string>
			</dict>
			<dict>
				<key>common-name</key>
				<string>Toonie</string>
				<key>diameter</key>
				<real>28</real>
				<key>value</key>
				<string>$2</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>United States</string>
		<key>code</key>
		<string>us</string>
		<key>coins</key>
		<array>
			<dict>
				<key>common-name</key>
				<string>Penny</string>
				<key>diameter</key>
				<real>19.05</real>
				<key>value</key>
				<string>1¢</string>
			</dict>
			<dict>
				<key>common-name</key>
				<string>Nickel</string>
				<key>diameter</key>
				<real>21.21</real>
				<key>value</key>
				<string>5¢</string>
			</dict>
			<dict>
				<key>common-name</key>
				<string>Dime</string>
				<key>diameter</key>
				<real>17.91</real>
				<key>value</key>
				<string>10¢</string>
			</dict>
			<dict>
				<key>common-name</key>
				<string>Quarter</string>
				<key>diameter</key>
				<real>24.26</real>
				<key>value</key>
				<string>25¢</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Iran</string>
		<key>code</key>
		<string>ir</string>
		<key>coins</key>
		<array>
			<dict>
				<key>common-name</key>
				<string>50 rials</string>
				<key>diameter</key>
				<real>20.2</real>
				<key>value</key>
				<string>50</string>
			</dict>
			<dict>
				<key>common-name</key>
				<string>100 rials</string>
				<key>diameter</key>
				<real>22.95</real>
				<key>value</key>
				<string>100</string>
			</dict>
			<dict>
				<key>common-name</key>
				<string>250 rials</string>
				<key>diameter</key>
				<real>18.8</real>
				<key>value</key>
				<string>250</string>
			</dict>
			<dict>
				<key>common-name</key>
				<string>500 rials</string>
				<key>diameter</key>
				<real>20.8</real>
				<key>value</key>
				<string>500</string>
			</dict>
			<dict>
				<key>common-name</key>
				<string>1000 rials</string>
				<key>diameter</key>
				<real>23.7</real>
				<key>value</key>
				<string>1000</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
